.page.theme_light {
  --text-color: #353430;
  --accent-title-color: #ffc2e6;
  --title-color: #353430;
  --accent-color: #ff8dcb;
  --hover-color: #32312d66;
  --decor-text-color:#353430;
  --bg-color: #353430;
  --menu-color: #353430;
  --bg-image: url("/images/cover-image-light.png");
  --rec-decor: hidden;
}

@media (prefers-color-scheme: light) {
  .page.theme_auto {
    --text-color: #353430;
    --accent-title-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --hover-color: #32312d66;
    --decor-text-color:#353430;
    --bg-color: #353430;
    --menu-color: #353430;
    --bg-image: url("/images/cover-image-light.png");
    --rec-decor: hidden;
  }
}